*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
body{
  background-image: url(./Images/texture1.jpg);
  font-family: sans-serif;
}

input, select {
  width: 17%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  border-bottom: 2px solid black;
}


input[type=submit] {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 650px;

}

input[type=submit]:hover {
  background-color: #45a049;
  margin-right: 100px;
}

.border {
  margin-left: 10%;
  margin-right: 10%;
  background-color: #fff;
  padding: 20px;
}

p, h1{
  text-align: center;
}
.logo1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
#Name{
  margin-left: 95px;
}
#people{
  margin-left: 48px;
}
#booking{
  margin-left: 35px;
}
#appt{
  margin-left: 55px;
}
.info{
  font-size: 12px;
  text-align: left;
  margin-left: 300px;
}
#contact{
  margin-left: 40px;
}
.textalign{
  margin-left:140px;
}
.textalign1{
  margin-left: 45%;
}
#massage{
  margin-left: 20px;
}
.booking2{
  margin-left: 140px;
}
fieldset {
  flex: 1;
  border-radius: 3px;
  border: 1px solid #d0d0d0;
  background-color: #f0f0f0;
}

fieldset legend label {
  cursor: pointer;
  display: block;
  font-family: sans-serif;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  background-color: #f0f0f0;
  padding: 0.5rem;
}

fieldset legend label:hover {
  background-color: #d9d9d9;
}

fieldset:disabled .room label {
  opacity: 0.5;
}

button {
  flex: 1 1 100%;
  appearance: none;
  padding: 1rem;
  border-radius: 3px;
  border: 1px solid #d0d0d0;
  cursor: pointer;
  margin-top: 15px;
}
.room {
  display: inline-block;
  margin: 0.5rem 1rem 0.5rem 0;
}

.room input {
  display: none;

}
.room2 input {
  display: none;

}

.room label {
  font-family: sans-serif;
  display: block;
  background-color: #f7f7f7;
  border-radius: 3px;
  border: 1px solid #d0d0d0;
  cursor: pointer;
  width: 70px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.room2 label {
  font-family: sans-serif;
  display: block;
  background-color: #f7f7f7;
  border-radius: 3px;
  border: 1px solid #d0d0d0;
  cursor: pointer;
  width: 70px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.room input:checked + label {
  background-color: green;
  border-color: green;
  color: white;
}
.room input:checked + label:hover{
  background-color: green;
  border-color: green;
  color: white;
}
.room2 input:checked + label {
  background-color: green;
  border-color: green;
  color: white;
}
.room2 input:checked + label:hover{
  background-color: green;
  border-color: green;
  color: white;
}
.timeslot{
  border: 1px solid black;
  width: 65%;
  margin-left:  auto;
  margin-right: auto;
  background-color: white;
  padding-left: 15px;
}
.choice{
  width: 80%;
  height: 70px;
  position: relative;
  margin: 100px auto;

}
.type{
  display: none;
  position: absolute;
  background-color: grey;
  margin-right: auto;
  margin-left: auto;
  width: 95%;
}
.btn{
  display: flex;
  border: 1px solid black;
}
.btn button{
  background-color: grey;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  margin-right: 50px;
  font-size: 20px;
  font-weight: bold;
}
#form1{
display: block;
}
