@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  height: 120px;
  width: 100%;
  background-color: white;
  position: relative;
  box-sizing: border-box;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  padding: 10px 10px 10px 10px;
  margin-top: -0.5px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18.5px;
  font-weight: 450;
  font-family: work sans;
  margin-right: 20px;
  padding-top: 5px;
  margin-top: 50px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 0px 8px 5px;
  text-decoration: none;
  color: rgba(17, 75, 130, 1);
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
}


.nav > .nav-links > a:hover {
  color: rgba(17, 75, 130, 1);
}

.nav > .nav-links > a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(17, 75, 130, 1);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav > .nav-links > a:hover::before  {
  transform: scaleX(1);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:700px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;

    float: right;
    width: 60px;
    height: 45px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 13px;
    margin-top: 50px;
  }

  .nav > .nav-links > a::before {
    background-color: white;
  }

  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    cursor: pointer;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;

    height: 5.5px;
    margin-bottom: 5px;
    width: 100%;
    background: rgba(228, 99, 27, 1);
    border-radius: 9px;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  .nav > .nav-btn > label > span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.nav > .nav-btn > label > span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav > .nav-btn > label > span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav > .nav-btn.open > label > span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

.nav > .nav-btn.open > label > span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.nav > .nav-btn.open > label > span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 30px;
  left: 5px;
}
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    overflow: hidden;
    top: 120px;
    left: 0px;
    margin-top: 0;
    padding-top: 0;
    color: white;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
    padding: 10px 0;
    padding-left: 20px;
    color: white;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  .nav > .nav-links > a:hover {
    color: white;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=Email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.title{
  text-shadow: 1px 1px 1px 1px;
  color: #226A80;
  font-family: inherit;
  letter-spacing: 5px;
  color: #226A80;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 30px;
}

.title span{
  color: #fff;
  font-size: 50px;
  font-weight: 600;
}


.containerS {
  border-radius: 5px;
  background-color: lightblue;

  padding: 10px;
}

.column {
  float: Right;
  width: 50%;
  margin-top: 7px;
  padding: 30px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

(max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  .Submit{
  background-color:#1197cc;
  box-shadow: #094c66 4px 4px 0px;
  border-radius: 8px;
  font-size: 20px;
  transition: transform 200ms, box-shadow 200ms;
  font-family:cursive;
  }

  .Submit:active{
  transform: translateY(4px) translateX(4px);
  box-shadow: #094c55 0px 0px 0px;  }
}

.form-btn{
margin-top: 0;
cursor: pointer;
background-color: white;
}
.btn-purple{
  text-transform: uppercase;
  padding: 10px 5px 10px 5px;
  font-family: Work Sans;
  color: rgba(228, 99, 27, 1);
  border: 2px solid rgba(228, 99, 27, 1);
  width: 40%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  font-weight: 520;
  font-size: 2vh;
  transition: 0.12s ease-in-out;
  align: center;
  float: none;
}
.btn-purple:active{
transform: translateY(4px) translateX(4px);
box-shadow: #094c55 0px 0px 0px;

}
.btn-purple:hover{
  color: white;
  background-color: rgba(228, 99, 27, 1);
  border-color: rgba(228, 99, 27, 1);
  cursor: pointer;
}




body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.containerA{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
/*FOOTER*/
.containerA{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.footer ul{
	list-style: none;
}
.footer{
  background-color: rgba(17, 75, 130, 1);
  background-color:#152238;
  padding: 80px 0;
  font-family: work sans;

}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
  font-family: work sans;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
  background-color: rgba(228, 99, 27, 1);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	font-weight: 400;
	display: block;
	transition: all 0.3s ease;
  font-family: work sans;
}
.footer-col ul li a:hover{
	color: lightblue;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



.textt{
  text-shadow: 1px 1px 1px 1px;
  color: #226A80;
  padding: 30px 100px 5px -10px;
}
