@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

h1 {
font-family: Libre Baskerville;
letter-spacing: 0.1em;
text-transform: uppercase;
font-weight: 500;
margin: 0;
font-size: 36px;
}

h2 {
font-family: Libre Baskerville;
letter-spacing: 0.1em;
text-transform: uppercase;
font-weight: 500;
margin: 0;
font-size: 28px;
}

h3 {
font-family: Libre Baskerville;
letter-spacing: 0.1em;
text-transform: uppercase;
font-weight: 500;
margin: 0;
font-size: 20px;
}

p {
font-family: Work Sans;
word-break: break-word;
font-size: 18px;
}

html,body {
margin:0;
padding:0;
overflow-x: hidden;
}

/*NAVIGATION BAR*/
.navbar {
font-family: Work Sans;
font-weight: 450;
font-size: 17px;
display: inline-block;
justify-self: center;
margin-top: 35px;
margin-bottom: auto;
align-items: center;
align-self: right;
float: right;
}

.navbar a {
color: rgba(17, 75, 130, 1);
text-decoration: none;
padding-bottom: 10px;
text-decoration: none;
text-transform: uppercase;
list-style: none;
display: inline;
}

.navbar a:hover {
color: rgba(17, 75, 130, 0.8);
}

.navbar a::before {
content: "";
position: absolute;
display: block;
width: 100%;
height: 2px;
bottom: 0.5px;
left: 0;
background-color: rgba(17, 75, 130, 1);
transform: scaleX(0);
transition: transform 0.3s ease;
}

.navbar a:hover::before {
transform: scaleX(1);
}

.navbar button {
font-family: Work Sans;
font-weight: 450;
font-size: 1em;
display: inline-block;
height: 50%;
text-decoration: none;
text-transform: uppercase;
list-style: none;
color: rgba(17, 75, 130, 1);
border: none;
background-color: transparent;
padding: 10px;
text-align: right;
}

.topnav {
  height: 120px;
}

.top {
  background-color: white;
  overflow: hidden;
}

.top a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.top .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the top */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  margin: 0;

  font-family: Work Sans;
  font-weight: 450;
  display: inline-block;
  text-transform: uppercase;
  color: rgba(17, 75, 130, 1);
  background-color: transparent;
  padding: 10px;
  text-align: right;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on top links and the dropdown button on hover */
.top a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the top (.icon) */
@media screen and (max-width: 600px) {
  .top a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .top a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the top with JavaScript when the user clicks on the icon. This class makes the top look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .top.responsive {position: relative;}
  .top.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .top.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .top.responsive .dropdown {float: none;}
  .top.responsive .dropdown-content {position: relative;}
  .top.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .top a:not(:first-child) {display: none;}
  .top a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .top.responsive {position: relative;}
  .top.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .top.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* PAGE TITLE */
.pagetitle {
width: 100vw;
height: 65vh;
background-position: center;
background-size: cover;
}

.title h1 {
width: 100%;
margin: auto;
color: rgba(255, 255, 255, 1);
text-align: center;
font-size: 3em;
text-shadow: 1px 1px 5px black;
text-align: center;
letter-spacing: 0.2em;
}

.title p {
width: 100%;
margin: auto;
color: rgba(255, 255, 255, 1);
text-align: center;
letter-spacing: 0.1em;
text-shadow: 1px 1px 5px black;
text-align: center;
}

.title {
display: grid;
grid-template-rows: 1fr 1fr;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

/*ROOM BOOKING FORM AT THE TOP OF THE PAGE*/

.booking-form-bar {
display: block;
position: absolute;
padding: 15px 10px;
background-color: rgba(255, 255, 255, 0.9);
width: 980px;
align-items: center;
text-align: center;
top: 72.5%;
left: 50%;
transform: translate(-50%, -50%);
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.booking-form-bar select {
font-family: 'Work Sans', FontAwesome;
text-transform: uppercase;
font-size: 13px;
margin: 5px 2px 2px 5px;
padding: 15px 15px 15px 10px;
-webkit-appearance: none;
background-color: transparent;
width: 176px;
appearance: none;
border: none;
border-bottom: 1px solid black;
}

.booking-form-bar input[type=text] {
font-family: 'Work Sans', FontAwesome;
text-transform: uppercase;
font-size: 13px;
margin: 5px 2px 2px 5px;
padding: 15px 15px 15px 10px;
-webkit-appearance: none;
background-color: transparent;
width: 185px;
appearance: none;
border: none;
border-bottom: 1px solid black;
}

.booking-form-bar input[type=text]:focus {
outline-color: rgba(228, 99, 27, 1);
outline-style: solid;
outline-width: 2px;
border: none;
}


.booking-form-bar input[type=button] {
text-transform: uppercase;
padding: 12px 10px 12px 10px;
font-family: Work Sans;
color: rgba(228, 99, 27, 1);
border: 2px solid rgba(228, 99, 27, 1);
background: transparent;
width: 190px;
letter-spacing: 0.1em;
text-transform: uppercase;
text-align: center;
transform: 0.3s ease-in-out;
font-weight: 520;
font-size: 13px;
}

.booking-form-bar input[type=button]:hover {
color: white;
font-weight: 520;
border: rgba(228, 99, 27, 1);
background: rgba(228, 99, 27, 1);
cursor: pointer;
}

.booking-form-bar select:focus {
outline-color: rgba(228, 99, 27, 1);
outline-style: solid;
outline-width: 2px;
border: none;
}


::placeholder {
color: rgba(0, 0, 0, 1);
}

.booking-form-bar option {
padding: 10px 10px 10px 10px;
}

.pagedesc {
text-align: center;
margin: 50px auto 10px auto;
}

.pagedesc h1 {
font-family: Libre Baskerville;
letter-spacing: 0.1em;
text-transform: uppercase;
font-weight: 500;
margin: 0;
}

.pagedesc p {
width: 50%;
margin: auto;
font-style: italic;
}

.category {
margin: 100px auto;
}

.category h2 {
display: flex;
width: 80%;
justify-content: center;
align-items: center;
text-align: center;
margin: auto;
font-weight: bold;
}

.category h2:after {
content: '';
border-top: 2px solid;
margin: auto auto auto 1vw;
padding: auto;
flex: 1 0 20px;
color: rgba(17, 75, 130, 1);
}


.bookingGrid {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 350px;
column-gap: 30px;
width: 65vw;
overflow: hidden;
margin: 10px auto;
}

.facilityPic {
height: 300px;
width: 100%;
overflow: hidden;
overflow-x: hidden;
object-fit: cover;
align-self: center;
justify-self: center;
}

.facilityInfo {
width: auto;
align-self: center;
justify-self: center;
}

.facilityInfo button {
text-transform: uppercase;
padding: 10px 8px;
font-family: Work Sans;
color: rgba(228, 99, 27, 1);
border: 2px solid rgba(228, 99, 27, 1);
background: transparent;
letter-spacing: 0.1em;
text-transform: uppercase;
text-align: center;
transform: 0.12s ease-in-out;
font-weight: 520;
font-size: 14px;
}

.facilityInfo button:hover {
color: white;
background-color: rgba(228, 99, 27, 1);
border-color: rgba(228, 99, 27, 1);
cursor: pointer;
}

.facilityInfo hr {
width: 4vw;
border: 1px solid rgba(17, 75, 130, 1);
margin-right: 100%;
background-color: rgba(17, 75, 130, 1);
overflow-x: visible;
margin-top: 2vh;
margin-bottom: 2vh;
}

.facilityInfo a {
text-decoration: none;
color: rgba(17, 75, 130, 1);
padding-bottom: 5px;
font-family: Work Sans;
margin-bottom: 40px;
font-size: 2vh;
}

.facilityInfo p {
font-size: 15px;
}

.facilityInfo h3 {
font-size: 20px;
}

.photogrid {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: auto;
column-gap: 30px;
row-gap: 10px;
width: 90%;
height: auto;
overflow: hidden;
margin: 30px auto 30px auto;
}

.photogrid img {
width: 100%;
height: 100%;
overflow: hidden;
overflow-x: hidden;
transition-duration: 0.3s ease-in-out;
object-fit: contain;
}

.photogrid img:hover {

}

.containerA{
max-width: 1170px;
margin:auto;
}
.row{
display: flex;
flex-wrap: wrap;
}
ul{
list-style: none;
}
.footer{
background-color: rgba(17, 75, 130, 1);
padding: 80px 0;
font-family: work sans;

}
.footer-col{
 width: 20%;
 padding: 0 15px;
}
.footer-col h4{
font-size: 18px;
color: #ffffff;
text-transform: capitalize;
margin-bottom: 35px;
font-weight: 500;
position: relative;
}
.footer-col h4::before{
content: '';
position: absolute;
left:0;
bottom: -10px;
background-color: rgba(228, 99, 27, 1);
height: 2px;
box-sizing: border-box;
width: 50px;
box-shadow: 1px 1px 5px grey;
}
.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}
.footer-col ul li a{
font-size: 16px;
text-transform: capitalize;
color: white;
text-decoration: none;
font-weight: 400;

display: block;
transition: all 0.3s ease;

}
.footer-col ul li a:hover{
padding-left: 8px;
}
.footer-col .social-links a{
display: inline-block;
height: 40px;
width: 40px;
background-color: rgba(255,255,255,0.2);
margin:0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
color: #24262b;
background-color: #ffffff;
}
