@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

h1 {
  font-family: Libre Baskerville;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
  font-size: 5vh;
}

h2 {
  font-family: Libre Baskerville;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
  font-size: 4vh;
}

p {
  font-family: Work Sans;
  word-break: break-word;
  font-size: 2.2vh;
}

html,body {
  margin:0;
  padding:0;
  overflow-x:hidden;
}

/* NAVBAR */
.navbar {
  margin-right: auto;
  font-family: Work Sans;
  font-weight: 450;
  font-size: 1.25em;
  display: inline-block;
  justify-self: center;
  height: 50%;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
}

.navbar ul li {
  display: inline-flex;
  padding: 10px 20px 10px 20px;
}

.navbar ul {
  display: inline-block;
  margin: 0;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  list-style: none;
  color: rgba(12, 105, 118, 1);
}

.navbar a {
  position: relative;
  color: rgba(12, 105, 118, 1);
  text-decoration: none;
  padding-bottom: 10px;
}

.navbar a:hover {
  color: rgba(12, 105, 118, 0.8);
}

.navbar a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0.5px;
  left: 0;
  background-color: rgba(12, 105, 118, 1);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navbar a:hover::before {
  transform: scaleX(1);
}

.logo {
  align-items: center;
  justify-self: center;
  display: inline-block;
  height: inherit;
}

.top {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  row-gap: 10px;
  align-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  width: 90%;
  margin: auto;
}

/* NAVBAR */


.top-roomform {
  display: block;
  position: absolute;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 77vw;
  margin: auto auto auto auto;
  align-items: center;
  text-align: center;
  top: 72.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.top-roomform form {
  margin: auto;
  width: 250px;
  display: inline;
}

.top-roomform input{
  margin: 10px 5px 5px 5px;
  padding: 15px 10px 15px 10px;
  border: none;
  border-bottom: 1px solid black;
  font-family: FontAwesome, "Work Sans";
  text-transform: uppercase;
  width: 200px;
  display: inline-block;
  background-color: transparent;
  font-size: 15px;
}

.top-roomform input[type=text]:focus {
  outline-color: rgba(228, 99, 27, 1);
  outline-style: solid;
  outline-width: 2px;
  border: none;
}

.top-roomform input:focus::placeholder {
  color: transparent;
}

.top-roomform select{
  margin: 10px 5px 5px 5px;
  padding: 15px 10px 15px 10px;
  border: none;
  border-bottom: 1px solid black;
  font-family: FontAwesome, 'Work Sans';
  display: inline;
  width: 200px;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  font-size: 15px;
  text-transform: uppercase;
}

.top-roomform select:focus {
  outline-color: rgba(228, 99, 27, 1);
  outline-style: solid;
  outline-width: 2px;
  border: none;
}

.top-roomform input[type=button] {
  text-transform: uppercase;
  padding: 12px 10px 12px 10px;
  font-family: Work Sans;
  color: rgba(228, 99, 27, 1);
  border: 2px solid rgba(228, 99, 27, 1);
  background: transparent;
  width: 220px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  transform: 0.3s ease-in-out;
  font-weight: 520;
}

.top-roomform input[type=button]:hover {
  color: white;
  border: rgba(228, 99, 27, 1);
  background: rgba(228, 99, 27, 1);
  cursor: pointer;
}

.top-roomform input[type=text] {
  width: 200px;
}

::placeholder {
  color: rgba(0, 0, 0, 1);
}

.top-roomform option {
  padding: 10px 10px 10px 10px;
}

 /* PHOTOGRID */
.photogrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 30px;
  row-gap: 10px;
  width: 90%;
  height: auto;
  overflow: hidden;
  margin: 30px auto 30px auto;
}

.photogrid img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-x: hidden;
  transition-duration: 0.3s ease-in-out;
  object-fit: contain;
}

.photogrid img:hover {
  transform: scale(1.05);
  overflow: hidden;
  overflow-x: hidden;
}
/* PHOTOGRID */


/* PAGE INFO*/
.pagetitle_event {
width: 100%;
height: 65vh;
background-image:linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(./event_photos/tableshot1.jpg);
background-position: center;
background-size: cover;
}

.title h1 {
 width: 100%;
 margin: auto;
 color: rgba(255, 255, 255, 1);
 text-align: center;
 font-size: 3em;
 text-shadow: 1px 1px 5px black;
 text-align: center;
 letter-spacing: 0.2em;
}

.title p {
  width: 100%;
  margin: auto;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px 5px black;
  text-align: center;
}

.title {
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* PAGE TITLE*/

.theme {
  margin: 20vh auto 20vh auto;
}

.theme h1 {
  display: flex;
	width: 80%;
	justify-content: center;
	align-items: center;
	text-align: center;
  margin: auto;
  font-weight: bold;

}

.theme h1:after {
  content: '';
	border-top: 2px solid;
	margin: auto auto auto 1vw;
  padding: auto;
	flex: 1 0 20px;
	color: rgba(12, 105, 118, 1);
}

.box1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50vh;
  column-gap: 2vw;
  margin: auto;
  width: 65vw;
  overflow: hidden;
  margin: 5vh auto 5vh auto;
}

.falpic {
  height: auto;
  width: 100%;
  overflow: hidden;
  overflow-x: hidden;
  object-fit: contain;
  grid-area: "falpic";
  align-self: center;
  justify-self: center;
}

.venueinfo {
  grid-area: "venueinfo";
  width: auto;
  align-self: center;
  justify-self: center;
}

.venueinfo hr {
  width: 4vw;
  border: 1px solid rgba(12, 105, 118, 1);
  margin-right: 100%;
  background-color: rgba(12, 105, 118, 1);
  overflow-x: visible;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.venueinfo button {
  text-transform: uppercase;
  padding: 10px 5px 10px 5px;
  font-family: Work Sans;
  color: rgba(228, 99, 27, 1);
  background: none;
  border: 2px solid rgba(228, 99, 27, 1);
  width: 17vw;
  height: auto;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 520;
  font-size: 2vh;
  transition: 0.12s ease-in-out;
}

.venueinfo button:hover {
  color: white;
  background-color: rgba(228, 99, 27, 1);
  border-color: rgba(228, 99, 27, 1);
  cursor: pointer;
}

.venueinfo a {
  text-decoration: none;
  color: rgba(12, 105, 118, 1);
  padding-bottom: 5px;
  font-family: Work Sans;
  margin-bottom: 40px;
  font-size: 2vh;
}

.pagedesc {
  text-align: center;
  margin: 10vh auto -10vh auto;
}

.pagedesc p {
  width: 50%;
  margin: auto;
  font-style: italic;
}
